h1.center Этап мастерства
p Достигнув этого этапа, не ослабляйте бдительность – не забывайте, что желание закурить будет с вами постоянно, так же как и провоцирующие на рецидив действия. Важно не забывать об этом и бороться за качество своего здоровья и жизни окружающих вас людей.
