h1.center Прошлые ошибки

= simple_form_for :diary, url: next_state_diary_path(@diary) do |f|
  = f.input :previous_fail, label: 'Выпишите свои ошибки и неудачи, с которыми вы столкнулись бросая курить online, проанализируйте их, укажите каким образом вы будете их исправлять, дождитесь комментариев от других пользователей. Оставьте поле пустым, если вы ещё не пробовали бросить курить.', as: :text
  .center = f.submit 'Продолжить', class: 'btn btn-large btn-success'
