@import bootstrap

@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700&subset=latin,cyrillic)

body
  font-family: 'Ubuntu', Arial, sans-serif

header#header
  background: #eee
  position: fixed
  width: 100%
  top: 0
  left: 0
  height: 55px
  box-shadow: 0 1px 2px #888
  z-index: 1000

.logo
  float: left
  font-size: 1.6em
  font-weight: bold
  text-shadow: 0px 1px 0px #fff
  line-height: 31px
  color: #666

.masthead
  margin-top: 75px

.content-inner
  padding: 8px

.post
  min-height: 200px
  .post-actions
    top: 10px !important
    li
      line-height: 10px

blockquote
  border-left: 5px solid darkgray

.news-item
  border-bottom: 1px solid lightgray
  padding-bottom: 10px
  &:last-child
    border: none

.center
  text-align: center

p
  text-indent: 40px

.login-form
  display: inline-block
  float: right
  padding-top: 0
  form
    margin: 10px 0 10px 0
  .input
    height: 19px
  *
    margin-left: 6px
    display: inline-block

.header
  display: inline-block

.menu
  margin-top: 10px

/* Generated */
body
  padding-bottom: 60px

.container
  margin: 0 auto
  max-width: 1000px

.container > hr
  margin: 60px 0


/* Main marketing message and sign up button */
.jumbotron
  margin: 80px 0
  text-align: center

.jumbotron h1
  font-size: 100px
  line-height: 1

.jumbotron .lead
  font-size: 24px
  line-height: 1.25

.jumbotron .btn
  font-size: 21px
  padding: 14px 24px


/* Supporting marketing content */
.marketing
  margin: 60px 0

.marketing p + h4
  margin-top: 28px

/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner
  padding: 0

.navbar .nav
  margin: 0
  display: table
  width: 100%

.navbar .nav li
  display: table-cell
  width: 1%
  float: none

.navbar .nav li a
  font-weight: bold
  text-align: center
  border-left: 1px solid rgba(255,255,255,.75)
  border-right: 1px solid rgba(0,0,0,.1)

.navbar .nav li:first-child a
  border-left: 0
  border-radius: 3px 0 0 3px

.navbar .nav li:last-child a
  border-right: 0
  border-radius: 0 3px 3px 0
